html {
  box-sizing: border-box;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/*@ TYPOGRAPHY  */

/*@ LAYOUT  */
.header {
  background-color: #f8f9fa;
  margin: 0 auto;
  width: 80%; /* Adjust the width as needed */
}
.header {
  background-color: #f8f9fa;
  text-align: center;
}

.header-buttons {
  display: flex;
  justify-content: center;
}

.header-btn {
  border: 1px solid #000000;
  padding: .5em 1em;
}

.header-btn-register {
  margin-right: .75em;
}